@charset "ISO-8859-1";
.box1{
	Border:10px solid black;
	width:100px;
	height:100px;
	position:relative;
	margin-left:20%;
	margin-top:20%;
	background-color:blue;

}
.box1 p{
	text-align:center;
	position:relative;
	
}
.box {
	Border:1px solid black;
	width:200px;
	height:200px;
	position:relative;
	background-color:seagreen;

}